div{
    align-content: center;
    margin:10rem 0 0 28rem;
}
div>h3{
    margin-left: 3rem;
}
div>input{
    display: block;
    margin-left: 2rem;
    width: 15rem;
}
div>button{
    margin: 1rem;
}

footer{
    display: block;
    padding: 1rem;
    background-color: #f2f2f2;
   padding-bottom: 20rem;
}
footer>p{
    margin-left: 32rem;
}